.container {
  max-width: 600px;
  margin-left: 4rem;
  display: flex;
}
.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1em 2em;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 160ms ease-in-out;
  &:hover {
    background-color: color-mix(in oklab, var(--primary-color), black 15%);
  }
  &:hover > .header__title {
    color: color-mix(in oklab, #f0f8ff, 15% black);
  }
  &:hover > .icon {
    color: color-mix(in oklab, #f0f8ff, 15% black);
  }
}
.header__title {
  font-size: 32px;
  transition: color 160ms ease-in-out;
}
.icon {
  font-size: inherit;
  > * {
    font-size: 2.5rem;
    color: #f0f8ff;
    transition: color 160ms ease-in-out;
  }
}

.error {
  color: red;
  font-weight: 700;
  font-size: 0.8em;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1em 1.5em;
  background-color: #f0f8ff;
  color: #333;
}
.form__title {
  margin: 0;
}
form {
  position: relative;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 500;
}
input {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  background-color: #f0f8ff;
  border: 2px solid black;
  color: #333;
  outline: none;
  &:focus {
    outline: 2px solid black;
  }
}
section {
  margin-top: 16px;
}
